doctype
html(lang="en")
  head
    include ../includes/header.pug
    
    link(rel='sylesheet', href='../../assets/index.css')
  body(style='background-color: black')
    include ../includes/jumbotronv4.pug
    .jumbotron.text-center.bg-transparent
      h1(style='color: white; margin-top: 25vh;').display-3 404
      p(style='color: white;').lead Sorry, but the princess isn't in this castle!
      button.btn.btn-light(href='/') Take me back home!