doctype
html(lang="en")
  head
    include ../includes/header.pug
    
    link(rel='sylesheet', href='css/index.css')
    link(rel='sylesheet', href='css/sidebar.css')
  body(style='background-color: black; overflow-x: hidden; overflow-y: hidden;')
    include ../includes/sidebar.pug
    include ../includes/navbar.pug
    include ../includes/jumbotronv4.pug
    .jumbotron.text-center.bg-transparent
      h1(style='color: white; margin-top: 25vh;').display-3 Dashboard


