doctype
html(lang="en")
  head
    style
      //- include ../assets/css/index.css
    include includes/header.pug
    
    link(rel='stylesheet', href='assets/css/index.css')

  body(style='background-color: black; overflow-x: hidden; overflow-y: hidden;')
    include includes/navbar.pug
    include includes/jumbotronv4.pug
    .jumbotron.text-center.bg-transparent
      h1(style='color: white; margin-top: 25vh;').display-3 Adminator
      p(style='color: white;').lead Free. Open Source. Easy.
      button.btn.btn-light(href='/add') Add


