include includes/header.pug
body
  include includes/navbar.pug
  include includes/jumbotronv4.pug
  .jumbotron.text-center.bg-dark
    h1(style='color: white;').display-3 Adminator
    p(style='color: white;').lead Free. Open Source. Easy.
    button.btn.btn-light Go to config
  .jumbotron.text-center.bg-dark
    h2(style='color: white;').display-1 Welcome to your own bot dashboard.
    p(style='color: white;').lead You created it ;)
  .jumbotron.text-center.bg-dark
    p
  .jumbotron.text-center.bg-dark
    p
  .jumbotron.text-center.bg-dark
    p



